.appBarTitle {
  flex: 1;
  text-align: center;
}

.menuIcon {
  position: absolute !important;
  right: 0;
}

.menuIconLeft {
  position: absolute !important;
  left: 0;
}

.content {
  padding: 1rem;
}

.addButton {
  position: absolute !important;
  bottom: 2rem;
  right: 2rem;
  z-index: 5000;
}

.textsContainer {
  overflow-y: auto;
}

.setInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-shrink: 0;
}

.titleContainer {
  display: flex;
  align-items: baseline;
}

.titleForm {
  display: flex;
}

.editTitleButton {
  margin-left: 0.5rem !important;
  position: relative !important;
  top: 0.2rem;
}

.iconRight {
  margin-left: 0.4rem;
}

.setButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.listItem:not(:hover) {
  background-color: white !important;
}

.isDragging .listItem:hover {
  background-color: white !important;
}

.listItem:hover .dragHandle {
  visibility: visible;
}

.isDragging .listItem:hover .dragHandle {
  visibility: hidden;
}

.dragHandle {
  visibility: hidden;
}

@media (max-width: 600px) {
  .dragHandle {
    visibility: visible;
  }
}

.dragHandle.isDragging {
  visibility: visible;
}