.practiceContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
}

.practiceForm {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.practiceTextCorrection {
  white-space: pre-wrap;
}

.diffDeleteText {
  color: #d32f2f;
}

.diffAddText {
  color: #43a047;
}

.practiceNotification {
  bottom: 5rem !important;
  position: absolute !important;
}

.practiceNotificationCorrect {
  background: #43a047 !important;
}

.practiceNotificationIncorrect {
  background: #d32f2f !important;
}

.practiceTextSectionTitle {
  font-size: 0.9rem !important;
  margin-top: 1rem !important;
  text-transform: uppercase;
}

